body {
    margin: 0;
    padding: 0;
    // background: rgb(245, 245, 245);

    // display: none;

    background: rgb(218, 215, 255);
    background: linear-gradient(
        90deg,
        rgba(218, 215, 255, 1) 0%,
        rgba(255, 160, 160, 1) 100%
    );
    background: yellow;
}

.logo {
    &:hover {
        cursor: pointer;
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 30px;

    // height: fit-content;
    // background: green;
}

.loading {
    // background: yellow;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button {
    // height: 100%;
    background: yellow;
    margin: auto 10px;
}

.anime-container {
    display: flex;
    flex-shrink: none;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    // overflow-x: scroll;
    // background: yellow;
    // padding: 20px;
}

.card {
    width: 100%;
    min-width: 320px;
    max-width: 345px;
    margin: 10px;
    align-self: stretch;
    .card-image {
        height: 240px;
    }
}

.MuiCard-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
